<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}    <!--包含<head></head>内容的head块-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">   <!--该meta元素会设置页面的视口，让页面根据设备的宽度来自动缩放页面-->
    <title>{{ user.name }}'s Watchilist</title>
    <link rel="icon" href="{{ url_for('static',filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}" type="text/css">
    {% endblock %}
</head>
<body>
    {% for message in get_flashed_messages() %}
    <div class="alter">{{ message }}</div>
    {% endfor %}
    <h2>
        <img alt="Avatar" class="avatar" src="{{ url_for('static',filename='images/avatar.png' )}}">
        {{ user.name }}'s Watchlist
    </h2>
<!--    添加了一个新的导航栏-->
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}"Home></a></li>
            {% if current_user.is_authenticated %} <!--如果用户已登录，就显示设置和登出链接-->
            <li><a href="{{ url_for('settings') }}">Settings</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% else %}                              <!--如果未登录，就显示登录链接-->
            <li><a href="{{ url_for('login') }}">Login</a></li>
            {% endif %}
        </ul>
    </nav>
   {% block content %}{% endblock %}  <!--用来在子模板中插入页面主体内容的content块-->

</body>
</html>